---
import "../styles/global.css";
import { Image } from 'astro:assets';

import MainLayout from "../layouts/main-layout.astro";
import { Section } from "../components/Section";
import { Hero } from "../components/Hero";
import { About } from "../components/About";
import { WhyUs } from "../components/WhyUs";
import { FAQs } from "../components/FAQs";
import { Contact } from "../components/Contact";

// Assets
import servers from '../assets/servers-compressed-1920.webp';
import recycleIcon from "../assets/recycle-cropped.png";
import settingsIcon from "../assets/settings-cropped.png";
import solarIcon from "../assets/solar-cropped.png";
import { FAQBackground } from "../utils/svgComponents";

console.log("Running on the server")
---
<!-- Overflow-hidden fixes 1st section pushing fixed header down -->
<MainLayout classes="overflow-hidden">
	<Section headerOffset height="full" className="bg-sky-50 grid grid-cols-content-xxs xxs:grid-cols-content-xs xs:grid-cols-content-sm sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">	
		
		<div class="IMAGE__BORDER hidden lg:flex -translate-x-3 bg-slate-200 row-start-1 col-start-1 lg:col-start-3 col-span-full h-full lg:poly-clip"></div>
		<div class="IMAGE__BG bg-gray-600 row-start-1 col-start-1 lg:col-start-3 col-span-full h-full lg:poly-clip"></div>
		<Image 
			data-flip="false" 
			class="IMAGE row-start-1 col-start-1 lg:col-start-3 col-span-full h-full object-cover mix-blend-soft-light brightness-[55%] z-40 lg:poly-clip" 
			src={servers} 
			widths={[ ]} 
			alt="A closeup of our servers" slot="bgImage"
		/>	
		<Hero className="HERO row-start-1 col-start-2 col-span-1 z-40" client:load />
	</Section>

	<Section className="bg-slate-200 grid grid-cols-content-xxs xxs:grid-cols-content-xs xs:grid-cols-content-sm sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">
		<About className="col-start-2 col-span-1">
			<Image 
				class="IMAGE" 
				src={solarIcon} 
				widths={[ ]} 
				alt="A closeup of our servers" slot="solarIcon"
			/>	
			<Image 
				class="IMAGE" 
				src={settingsIcon} 
				widths={[ ]} 
				alt="A closeup of our servers" slot="settingsIcon"
			/>
			<Image 
				class="IMAGE" 
				src={recycleIcon} 
				widths={[ ]} 
				alt="A closeup of our servers" slot="recycleIcon"
			/>					
		</About>
	</Section>
	
	<Section className="bg-primary grid grid-cols-content-xxs xxs:grid-cols-content-xs xs:grid-cols-content-sm sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">
		<WhyUs className="col-start-2 col-span-1" />
	</Section>

	<Section className="relative grid grid-cols-content-xxs xxs:grid-cols-content-xs xs:grid-cols-content-sm sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">
		<FAQs className="col-start-2 col-span-1" />
		<FAQBackground className="faq-background flex items-center absolute inset-0 brightness-95 opacity-[20%]" />
	</Section>

	<Section className="bg-slate-200 grid grid-cols-content-xxs xxs:grid-cols-content-xs xs:grid-cols-content-sm sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">
		<Contact className="col-start-2 col-span-1" client:visible/>
	</Section>
</MainLayout>
